/*
 * NexoVirt REST API
 *
 * A clean REST API over Proxmox VE, exposed by the NexoVirt panel at `/api/v1`.  Use it to discover placement (nodes, storages, networks), discover provisioning inputs (plans, OS templates, CT templates, IP zones, SSH keys), create QEMU VMs and LXC containers, run lifecycle actions (power, reinstall, password reset, IP config, delete), and poll asynchronous jobs and live PVE tasks to completion, all without touching the web UI.  ## Response envelope  Every response is JSON shaped as `{ success, data, error }`. On success, `success` is `true`, `data` holds the payload, and `error` is `null`. On failure, `success` is `false`, `data` is `null`, and `error` is a human-readable message, alongside a matching HTTP status code (`400`, `401`, `403`, `404`, `409`, `422`, `502`).  List endpoints that paginate add a `meta` object: `{ page, perPage, total }`. Request a page with `?page=<n>&perPage=<1..200>` (default `perPage` is 50, clamped to 200).  ## Authentication  Every request needs `Authorization: Bearer <token>`. Create tokens in the panel under Settings, API tokens. A token may be host-scoped (restricted to certain host ids), IP-allowlisted, and rate-limited. A scoped token gets `403 Forbidden` on any `/hosts/{id}/...` path it is not permitted to touch.  ## Content type  Send `Content-Type: application/json` for POST bodies. Form-encoded bodies also work.  ## Async guest creation  `POST /hosts/{id}/guests` enqueues a provisioning job and returns immediately with `{ queued: true, job_id, vmid }`. Poll `GET /hosts/{id}/jobs/{jobId}` until `data.status` reaches a terminal state, either `done` or `failed` (transitions through `queued` then `running`). On failure, `data.error` carries the reason. The same executor that backs the web wizard runs the actual PVE work. 
 *
 * The version of the OpenAPI document: v1
 * Contact: hello@nexovirt.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using NexoVirt.Sdk.Client;
using NexoVirt.Sdk.Model;

namespace NexoVirt.Sdk.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IJobsTasksApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Get an async provisioning job&#39;s status
        /// </summary>
        /// <remarks>
        /// Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <returns>GetProvisioningJob200Response</returns>
        GetProvisioningJob200Response GetProvisioningJob(int hostId, int jobId);

        /// <summary>
        /// Get an async provisioning job&#39;s status
        /// </summary>
        /// <remarks>
        /// Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <returns>ApiResponse of GetProvisioningJob200Response</returns>
        ApiResponse<GetProvisioningJob200Response> GetProvisioningJobWithHttpInfo(int hostId, int jobId);
        /// <summary>
        /// Get a live PVE task&#39;s status
        /// </summary>
        /// <remarks>
        /// A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <returns>Envelope</returns>
        Envelope GetPveTask(int hostId, string node, string upid);

        /// <summary>
        /// Get a live PVE task&#39;s status
        /// </summary>
        /// <remarks>
        /// A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <returns>ApiResponse of Envelope</returns>
        ApiResponse<Envelope> GetPveTaskWithHttpInfo(int hostId, string node, string upid);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IJobsTasksApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Get an async provisioning job&#39;s status
        /// </summary>
        /// <remarks>
        /// Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of GetProvisioningJob200Response</returns>
        System.Threading.Tasks.Task<GetProvisioningJob200Response> GetProvisioningJobAsync(int hostId, int jobId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get an async provisioning job&#39;s status
        /// </summary>
        /// <remarks>
        /// Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (GetProvisioningJob200Response)</returns>
        System.Threading.Tasks.Task<ApiResponse<GetProvisioningJob200Response>> GetProvisioningJobWithHttpInfoAsync(int hostId, int jobId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Get a live PVE task&#39;s status
        /// </summary>
        /// <remarks>
        /// A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Envelope</returns>
        System.Threading.Tasks.Task<Envelope> GetPveTaskAsync(int hostId, string node, string upid, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a live PVE task&#39;s status
        /// </summary>
        /// <remarks>
        /// A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Envelope)</returns>
        System.Threading.Tasks.Task<ApiResponse<Envelope>> GetPveTaskWithHttpInfoAsync(int hostId, string node, string upid, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IJobsTasksApi : IJobsTasksApiSync, IJobsTasksApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class JobsTasksApi : IDisposable, IJobsTasksApi
    {
        private NexoVirt.Sdk.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public JobsTasksApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public JobsTasksApi(string basePath)
        {
            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                new NexoVirt.Sdk.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public JobsTasksApi(NexoVirt.Sdk.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public JobsTasksApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public JobsTasksApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                new NexoVirt.Sdk.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public JobsTasksApi(HttpClient client, NexoVirt.Sdk.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="JobsTasksApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public JobsTasksApi(NexoVirt.Sdk.Client.ISynchronousClient client, NexoVirt.Sdk.Client.IAsynchronousClient asyncClient, NexoVirt.Sdk.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public NexoVirt.Sdk.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public NexoVirt.Sdk.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public NexoVirt.Sdk.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public NexoVirt.Sdk.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public NexoVirt.Sdk.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Get an async provisioning job&#39;s status Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <returns>GetProvisioningJob200Response</returns>
        public GetProvisioningJob200Response GetProvisioningJob(int hostId, int jobId)
        {
            NexoVirt.Sdk.Client.ApiResponse<GetProvisioningJob200Response> localVarResponse = GetProvisioningJobWithHttpInfo(hostId, jobId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get an async provisioning job&#39;s status Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <returns>ApiResponse of GetProvisioningJob200Response</returns>
        public NexoVirt.Sdk.Client.ApiResponse<GetProvisioningJob200Response> GetProvisioningJobWithHttpInfo(int hostId, int jobId)
        {
            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("hostId", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(hostId)); // path parameter
            localVarRequestOptions.PathParameters.Add("jobId", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(jobId)); // path parameter

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<GetProvisioningJob200Response>("/hosts/{hostId}/jobs/{jobId}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetProvisioningJob", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get an async provisioning job&#39;s status Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of GetProvisioningJob200Response</returns>
        public async System.Threading.Tasks.Task<GetProvisioningJob200Response> GetProvisioningJobAsync(int hostId, int jobId, System.Threading.CancellationToken cancellationToken = default)
        {
            NexoVirt.Sdk.Client.ApiResponse<GetProvisioningJob200Response> localVarResponse = await GetProvisioningJobWithHttpInfoAsync(hostId, jobId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get an async provisioning job&#39;s status Poll this to track a create, reinstall, delete, or power job enqueued when &#x60;provision.async&#x60; is enabled. &#x60;status&#x60; transitions &#x60;queued&#x60; to &#x60;running&#x60; to a terminal state, either &#x60;done&#x60; or &#x60;failed&#x60;. On failure, &#x60;error&#x60; carries the reason. 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="jobId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (GetProvisioningJob200Response)</returns>
        public async System.Threading.Tasks.Task<NexoVirt.Sdk.Client.ApiResponse<GetProvisioningJob200Response>> GetProvisioningJobWithHttpInfoAsync(int hostId, int jobId, System.Threading.CancellationToken cancellationToken = default)
        {

            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("hostId", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(hostId)); // path parameter
            localVarRequestOptions.PathParameters.Add("jobId", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(jobId)); // path parameter

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<GetProvisioningJob200Response>("/hosts/{hostId}/jobs/{jobId}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetProvisioningJob", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get a live PVE task&#39;s status A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <returns>Envelope</returns>
        public Envelope GetPveTask(int hostId, string node, string upid)
        {
            NexoVirt.Sdk.Client.ApiResponse<Envelope> localVarResponse = GetPveTaskWithHttpInfo(hostId, node, upid);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get a live PVE task&#39;s status A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <returns>ApiResponse of Envelope</returns>
        public NexoVirt.Sdk.Client.ApiResponse<Envelope> GetPveTaskWithHttpInfo(int hostId, string node, string upid)
        {
            // verify the required parameter 'node' is set
            if (node == null)
                throw new NexoVirt.Sdk.Client.ApiException(400, "Missing required parameter 'node' when calling JobsTasksApi->GetPveTask");

            // verify the required parameter 'upid' is set
            if (upid == null)
                throw new NexoVirt.Sdk.Client.ApiException(400, "Missing required parameter 'upid' when calling JobsTasksApi->GetPveTask");

            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("hostId", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(hostId)); // path parameter
            localVarRequestOptions.PathParameters.Add("node", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(node)); // path parameter
            localVarRequestOptions.PathParameters.Add("upid", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(upid)); // path parameter

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Envelope>("/hosts/{hostId}/tasks/{node}/{upid}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetPveTask", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get a live PVE task&#39;s status A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Envelope</returns>
        public async System.Threading.Tasks.Task<Envelope> GetPveTaskAsync(int hostId, string node, string upid, System.Threading.CancellationToken cancellationToken = default)
        {
            NexoVirt.Sdk.Client.ApiResponse<Envelope> localVarResponse = await GetPveTaskWithHttpInfoAsync(hostId, node, upid, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get a live PVE task&#39;s status A live PVE task status lookup by UPID, for tracking the underlying Proxmox task directly (as opposed to the panel&#39;s own provisioning job). 
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="hostId">The panel&#39;s internal host id (from &#x60;GET /hosts&#x60;).</param>
        /// <param name="node">The PVE node name.</param>
        /// <param name="upid">The PVE task UPID, URL-encoded.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Envelope)</returns>
        public async System.Threading.Tasks.Task<NexoVirt.Sdk.Client.ApiResponse<Envelope>> GetPveTaskWithHttpInfoAsync(int hostId, string node, string upid, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'node' is set
            if (node == null)
                throw new NexoVirt.Sdk.Client.ApiException(400, "Missing required parameter 'node' when calling JobsTasksApi->GetPveTask");

            // verify the required parameter 'upid' is set
            if (upid == null)
                throw new NexoVirt.Sdk.Client.ApiException(400, "Missing required parameter 'upid' when calling JobsTasksApi->GetPveTask");


            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("hostId", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(hostId)); // path parameter
            localVarRequestOptions.PathParameters.Add("node", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(node)); // path parameter
            localVarRequestOptions.PathParameters.Add("upid", NexoVirt.Sdk.Client.ClientUtils.ParameterToString(upid)); // path parameter

            // authentication (bearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Envelope>("/hosts/{hostId}/tasks/{node}/{upid}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetPveTask", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

    }
}
