/*
 * NexoVirt REST API
 *
 * A clean REST API over Proxmox VE, exposed by the NexoVirt panel at `/api/v1`.  Use it to discover placement (nodes, storages, networks), discover provisioning inputs (plans, OS templates, CT templates, IP zones, SSH keys), create QEMU VMs and LXC containers, run lifecycle actions (power, reinstall, password reset, IP config, delete), and poll asynchronous jobs and live PVE tasks to completion, all without touching the web UI.  ## Response envelope  Every response is JSON shaped as `{ success, data, error }`. On success, `success` is `true`, `data` holds the payload, and `error` is `null`. On failure, `success` is `false`, `data` is `null`, and `error` is a human-readable message, alongside a matching HTTP status code (`400`, `401`, `403`, `404`, `409`, `422`, `502`).  List endpoints that paginate add a `meta` object: `{ page, perPage, total }`. Request a page with `?page=<n>&perPage=<1..200>` (default `perPage` is 50, clamped to 200).  ## Authentication  Every request needs `Authorization: Bearer <token>`. Create tokens in the panel under Settings, API tokens. A token may be host-scoped (restricted to certain host ids), IP-allowlisted, and rate-limited. A scoped token gets `403 Forbidden` on any `/hosts/{id}/...` path it is not permitted to touch.  ## Content type  Send `Content-Type: application/json` for POST bodies. Form-encoded bodies also work.  ## Async guest creation  `POST /hosts/{id}/guests` enqueues a provisioning job and returns immediately with `{ queued: true, job_id, vmid }`. Poll `GET /hosts/{id}/jobs/{jobId}` until `data.status` reaches a terminal state, either `done` or `failed` (transitions through `queued` then `running`). On failure, `data.error` carries the reason. The same executor that backs the web wizard runs the actual PVE work. 
 *
 * The version of the OpenAPI document: v1
 * Contact: hello@nexovirt.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using NexoVirt.Sdk.Client;
using NexoVirt.Sdk.Model;

namespace NexoVirt.Sdk.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IResellerPlansUsageApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// My usage
        /// </summary>
        /// <remarks>
        /// Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <returns>Envelope</returns>
        Envelope GetResellerUsage();

        /// <summary>
        /// My usage
        /// </summary>
        /// <remarks>
        /// Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <returns>ApiResponse of Envelope</returns>
        ApiResponse<Envelope> GetResellerUsageWithHttpInfo();
        /// <summary>
        /// List plans available to me
        /// </summary>
        /// <remarks>
        /// The reseller&#39;s own plans plus any global plans. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <returns>Envelope</returns>
        Envelope ListResellerPlansAvailable(int? page = default, int? perPage = default);

        /// <summary>
        /// List plans available to me
        /// </summary>
        /// <remarks>
        /// The reseller&#39;s own plans plus any global plans. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <returns>ApiResponse of Envelope</returns>
        ApiResponse<Envelope> ListResellerPlansAvailableWithHttpInfo(int? page = default, int? perPage = default);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IResellerPlansUsageApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// My usage
        /// </summary>
        /// <remarks>
        /// Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Envelope</returns>
        System.Threading.Tasks.Task<Envelope> GetResellerUsageAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// My usage
        /// </summary>
        /// <remarks>
        /// Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Envelope)</returns>
        System.Threading.Tasks.Task<ApiResponse<Envelope>> GetResellerUsageWithHttpInfoAsync(System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List plans available to me
        /// </summary>
        /// <remarks>
        /// The reseller&#39;s own plans plus any global plans. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Envelope</returns>
        System.Threading.Tasks.Task<Envelope> ListResellerPlansAvailableAsync(int? page = default, int? perPage = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List plans available to me
        /// </summary>
        /// <remarks>
        /// The reseller&#39;s own plans plus any global plans. Read-only.
        /// </remarks>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Envelope)</returns>
        System.Threading.Tasks.Task<ApiResponse<Envelope>> ListResellerPlansAvailableWithHttpInfoAsync(int? page = default, int? perPage = default, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IResellerPlansUsageApi : IResellerPlansUsageApiSync, IResellerPlansUsageApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class ResellerPlansUsageApi : IDisposable, IResellerPlansUsageApi
    {
        private NexoVirt.Sdk.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public ResellerPlansUsageApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public ResellerPlansUsageApi(string basePath)
        {
            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                new NexoVirt.Sdk.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public ResellerPlansUsageApi(NexoVirt.Sdk.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ResellerPlansUsageApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ResellerPlansUsageApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                new NexoVirt.Sdk.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ResellerPlansUsageApi(HttpClient client, NexoVirt.Sdk.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = NexoVirt.Sdk.Client.Configuration.MergeConfigurations(
                NexoVirt.Sdk.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new NexoVirt.Sdk.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ResellerPlansUsageApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public ResellerPlansUsageApi(NexoVirt.Sdk.Client.ISynchronousClient client, NexoVirt.Sdk.Client.IAsynchronousClient asyncClient, NexoVirt.Sdk.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = NexoVirt.Sdk.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public NexoVirt.Sdk.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public NexoVirt.Sdk.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public NexoVirt.Sdk.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public NexoVirt.Sdk.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public NexoVirt.Sdk.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// My usage Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <returns>Envelope</returns>
        public Envelope GetResellerUsage()
        {
            NexoVirt.Sdk.Client.ApiResponse<Envelope> localVarResponse = GetResellerUsageWithHttpInfo();
            return localVarResponse.Data;
        }

        /// <summary>
        /// My usage Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <returns>ApiResponse of Envelope</returns>
        public NexoVirt.Sdk.Client.ApiResponse<Envelope> GetResellerUsageWithHttpInfo()
        {
            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);


            // authentication (resellerBearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Envelope>("/usage", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetResellerUsage", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// My usage Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Envelope</returns>
        public async System.Threading.Tasks.Task<Envelope> GetResellerUsageAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            NexoVirt.Sdk.Client.ApiResponse<Envelope> localVarResponse = await GetResellerUsageWithHttpInfoAsync(cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// My usage Per-customer usage breakdown plus the reseller&#39;s total usage and quota plan. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Envelope)</returns>
        public async System.Threading.Tasks.Task<NexoVirt.Sdk.Client.ApiResponse<Envelope>> GetResellerUsageWithHttpInfoAsync(System.Threading.CancellationToken cancellationToken = default)
        {

            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);


            // authentication (resellerBearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Envelope>("/usage", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetResellerUsage", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List plans available to me The reseller&#39;s own plans plus any global plans. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <returns>Envelope</returns>
        public Envelope ListResellerPlansAvailable(int? page = default, int? perPage = default)
        {
            NexoVirt.Sdk.Client.ApiResponse<Envelope> localVarResponse = ListResellerPlansAvailableWithHttpInfo(page, perPage);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List plans available to me The reseller&#39;s own plans plus any global plans. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <returns>ApiResponse of Envelope</returns>
        public NexoVirt.Sdk.Client.ApiResponse<Envelope> ListResellerPlansAvailableWithHttpInfo(int? page = default, int? perPage = default)
        {
            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(NexoVirt.Sdk.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (perPage != null)
            {
                localVarRequestOptions.QueryParameters.Add(NexoVirt.Sdk.Client.ClientUtils.ParameterToMultiMap("", "perPage", perPage));
            }

            // authentication (resellerBearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Envelope>("/plans", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("ListResellerPlansAvailable", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List plans available to me The reseller&#39;s own plans plus any global plans. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Envelope</returns>
        public async System.Threading.Tasks.Task<Envelope> ListResellerPlansAvailableAsync(int? page = default, int? perPage = default, System.Threading.CancellationToken cancellationToken = default)
        {
            NexoVirt.Sdk.Client.ApiResponse<Envelope> localVarResponse = await ListResellerPlansAvailableWithHttpInfoAsync(page, perPage, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List plans available to me The reseller&#39;s own plans plus any global plans. Read-only.
        /// </summary>
        /// <exception cref="NexoVirt.Sdk.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="page">Page number, 1-based. (optional, default to 1)</param>
        /// <param name="perPage">Items per page, clamped to 1..200. (optional, default to 50)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Envelope)</returns>
        public async System.Threading.Tasks.Task<NexoVirt.Sdk.Client.ApiResponse<Envelope>> ListResellerPlansAvailableWithHttpInfoAsync(int? page = default, int? perPage = default, System.Threading.CancellationToken cancellationToken = default)
        {

            NexoVirt.Sdk.Client.RequestOptions localVarRequestOptions = new NexoVirt.Sdk.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = NexoVirt.Sdk.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(NexoVirt.Sdk.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (perPage != null)
            {
                localVarRequestOptions.QueryParameters.Add(NexoVirt.Sdk.Client.ClientUtils.ParameterToMultiMap("", "perPage", perPage));
            }

            // authentication (resellerBearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Envelope>("/plans", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("ListResellerPlansAvailable", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

    }
}
